<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.LegendsOfAndor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LegendCardN"></activity>
        <activity android:name=".LegendCardG" />
        <activity android:name=".LegendCardTheWitch" />
        <activity android:name=".LegendCardRuneStonesHard" />
        <activity android:name=".LegendCardRuneStonesEasy" />
        <activity android:name=".LegendCardC2" />
        <activity android:name=".LegendCardC1Hard" />
        <activity android:name=".LegendCardC1Easy" />
        <activity android:name=".LegendCardA5" />
        <activity android:name=".LegendCardA4" />
        <activity android:name=".LegendCardA3Hard" />
        <activity android:name=".LegendCardA3Easy" />
        <activity android:name=".LegendCardA2" />
        <activity android:name=".LegendCardA1" />
        <activity
            android:name=".FarmerInteract"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".InteractItem"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".WaitScreen"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatScreen"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DistributeItems"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DistributeItemsWaitPage"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JoinLobby"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".HostLobby"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CreateGame"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Board"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".OptionsTab"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MonsterFight"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".GameOver"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Character_Tab"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".JoinFight"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".DistributeItemsFight"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Free_Actions"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".BuyFromMerchant"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".EndMove_Well"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".EndMove_Merchant"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>